<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <div class="container">
            <div class="card text-center mr-5">
                <div class="card-body">
                    <h1><span class="fa fa-lock"></span> Inicia sesión o Registrate</h1>
                    <a href="/login" class="btn btn-light">
                        <span class="fa fa-user"></span>
                        Inicia sesión
                    </a>
                    <a href="/register" class="btn btn-light">
                        <span class="fa fa-user"></span>
                       Registrate 
                    </a>
                </div>
            </div>
    </body>
</html>